.superheroes-form {
  .btn-success,
  &-trigger {
    background-color: darken($success, 3%);
  }

  &-trigger {
    width: 80%;
    margin-bottom: 0.5rem;
    margin-left: 10%;

    @include media-breakpoint-between(sm, lg) {
      width: 30%;
    }

    @include media-breakpoint-up(xl) {
      width: 20%;
    }
  }

  .modal-body {
    background-color: white;
  }

  .upload-box {
    outline: 2px dashed grey;
    outline-offset: -10px;
    padding: 1rem 0;

    @extend .position-relative;

    &-input {
      height: 100%;
      width: 100%;
      opacity: 0;
      z-index: 1051;
      top: 0;
      left: 0;

      @extend .position-absolute;
    }

    &-image {
      border: 1px solid $success;
      border-radius: 50%;
      width: 100%;
      height: 100px;
      overflow: hidden;
      margin: 0 auto;

      @extend .position-relative;

      &:hover {
        border-color: #d00;
        .mask {
          display: block !important;

          i {
            margin-top: -$fa-font-size-base;
            margin-left: -$fa-font-size-base;
            top: 50%;
            left: 50%;

            @extend .position-absolute;
          }

          &-content {
            opacity: .5;
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}